@import '../colors.scss';

.user-view {
  justify-content: space-evenly;
  background-color: $oceanBlue;
  height: 100vh;
  display: flex;
  flex-flow: row;
  color: $clouds;
  font-size: x-large;
}

.user-view h1 {
  width: 200px;
  margin: 20px;
  height: 60px;
  text-shadow: 2px 2px $black;
}

@mixin user-favs {
  width: 50vw;
  display: table-column-group;
  text-align: -webkit-center;
}

.user-favs {
  @include user-favs;
}

.users-jokes {
  @include user-favs;
}


@mixin joke-card {
  height: 190px;
  width: 374px;
  background-color: $white;
  border-radius: 5px;
  color: $black;
  display: flex;
  box-shadow: 1px 10px 20px 5px rgba(97, 97, 97, 0.96);
  align-items: center;
  justify-content: center;
}

.joke-card {
  @include joke-card;
}

.favorited-joke-card {
  @include joke-card;
  margin-bottom: 30px;
}

.created-joke-card {
  @include joke-card; 
}

.joke {
  padding: 5px;
  font-weight: 600;
  color: $darkMoss;
  font-size: large;
}
